PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/cd-store
JWT_SECRET=your-secret-key-change-this
JWT_REFRESH_SECRET=your-refresh-secret-key
NODE_ENV=development
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
FRONTEND_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001

# Bank Information for VietQR Demo
BANK_ID=MB
ACCOUNT_NO=0123456789
ACCOUNT_NAME=NGUYEN VAN A
